body {
	background-color: #444;
}
#player-wrapper {
	border: 1px solid #222;
	width: 768px;
	margin: 32px auto;
	overflow: hidden;
}
#player-wrapper > #spectrum-analyser {
	border-bottom: 1px solid #222;
	height: 128px;
	width: 768px;
	margin: 0 auto;
}
#player-wrapper > #transport-bar {
	list-style: none;
	width: 100%;
}
#player-wrapper > #transport-bar li {
	color: #eee;
	float: right;
	margin: 4px;
	display: none;
}
#player-wrapper > #transport-bar a {
	color: inherit;
	text-decoration: none;
}
#player-wrapper > #transport-bar a:hover {
	color: #666;
}